@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Akshar', sans-serif;
  }

  select {
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    padding-right: 2rem !important
  }
}

@layer components {
  .input-fields {
    @apply bg-gray-50 focus:bg-gray-100 rounded-none px-4 py-3 text-base focus:outline-none w-full
  }

  .service-layout {
    @apply flex gap-4 flex-col md: flex-row
  }
}

@layer utilities {
  /* .active-menu_item::before {} */

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }

  .font-barlow {
    @apply font-['Barlow']
  }

  .hover-menu_item::before,
  .active-menu_item::before {
    content: "";
    width: 4px;
    height: 0;
    background-color: #DD3333;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .5s ease-in;
    left: 0;
  }

  .active-menu_item::before {
    height: 20px;
    opacity: 1;
  }

  .hover-menu_item:hover::before {
    opacity: 1;
    height: 20px;
  }

  .service-card {
    @apply relative
  }

  .service-card::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #DD3333;
    transition: all .3s ease-in;
  }
}